{% extends 'inventory/base.html' %}
{% block title %}<title>Login</title>{% endblock title %}

{% block body %}
    <div class="card shadow-lg mb-3">
        <div class="card-header rounded">
        Login
        </div>
        <div class="card-body text-dark">
            <h5 class="card-title">Welcome to Ultimate High Adventures</h5>
            {% if next %}
                <p class="card-title"><strong>You have to log in first</strong></p>
            {% endif %}
            <form class="font-weight-bold" id="login-form" method="post" action="{% url 'inventory:login' %}">
                {% csrf_token %}
                {% include 'inventory/form-template.html' %}
                
                <button type="submit" value="Login" class="btn btn-success fas fa-sign-in-alt">&nbsp;</button> 
            </form>
        </div>
    </div>
{% endblock body %}