{% extends 'inventory/base.html' %}
{% block title %}<title>Customers</title> {% endblock %}

{% block body %}
<div class="row justify-content-center">
<div class="bg-danger rounded-circle shadow text-center text-truncate mx-auto my-auto custContainer">
        <h4 class="cust"><a href="{% url 'inventory:add-customer' %}">Add Customer</a></h4>
</div>
{% for customer in object_list %}
    <div class="bg-primary rounded-circle shadow text-center text-truncate mx-auto my-auto custContainer">
        <h4 class="cust"><a href="{% url 'inventory:edit-customer' customer.id %}" class="stretched-link">{{ customer.first_name }} {{  customer.last_name }}</a></h4>
        <small>{{ customer.email }}</small>
    </div>
{% endfor %}
</div>
{% endblock %}