{% extends 'inventory/base.html' %}
{% load crispy_forms_tags %}
{% block title %}<title>Customers</title> {% endblock %}
{% load crispy_forms_tags %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
  });
  </script>




<a class="btn fas fa-arrow-left fa-2x" href="{% url 'inventory:index' %}"role="button" style="color: Dodgerblue;">&nbsp;</a>
<h1 class='text-center'>Customers Page</h1>
<hr/>
<a href="{% url 'inventory:add-customer' %}" class="btn btn-dark" role="button">Add Customer</a>
&nbsp;
<a href="{% url 'inventory:trip-builder' %}"role="button" class="btn btn-dark">Create Trip&nbsp;</a>
&nbsp;
<a href="#" data-toggle="tooltip" data-placement="right" style="padding-left: 5px;" role="button" title="This page displays current customers in the system along with their related information. You can search through the list using a customer's First Name or Last Name. You can edit current customer information by clicking the small yellow button and add new customers using the Add Customer button."><i class="fas fa-info-circle fa-2x">&nbsp;</i></a>

<form method="GET">
    <div class="form-group" style="width: 50%;">
    {{ filter.form|crispy }}
    <button type="submit" class="btn btn-success fa fa-search">&nbsp;</button>
    <br>
    </div>
</form>

    <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Phone number</th>
          <th scope="col">Email</th>
          <th scope="col">Group size</th>
          <th scope="col">Comments</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>
    {% for customer in filter.qs %}
    <tbody>
        <tr>
          <td>{{ customer.first_name }}</td>
          <td>{{ customer.last_name}}</td>
          <td>{{ customer.phone_number }}</td>
          <td>{{ customer.email }}</td>
          <td>{{ customer.group_size }}</td>
          <td>{{ customer.comments }}</td>
          <td><a href="{% url 'inventory:edit-customer' customer.id %}" class="btn btn-warning fas fa-edit" role="button">&nbsp;</a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
    </div>
</div>
<br><br>



{% endblock %}