{% extends 'inventory/base.html' %}
{% block title %} <title>Food</title> {% endblock title %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
  });
  </script>



<a class="btn fas fa-arrow-left fa-2x" href="{% url 'inventory:index' %}" role="button" style="color: Dodgerblue;">&nbsp;</a>
<hr/>
<a href="#" data-toggle="tooltip" data-placement="right" style="padding-left: 5px;" title="This page displays meals and menus currently in the system. You may view a menu or meal by clicking on its name (white). You can also edit a menu or meal by clicking on the pencil icon (yellow) and delete by clicking on the trashcan icon (red). Below the Menu and Meals, the food items currently stored in the system are listed. These are used to populate the Meals and Menus."><i class="fas fa-info-circle fa-2x">&nbsp;</i></a>

<h1 class="text-center">Meals</h1>
<div class="row justify-content-center">
    <h2><a href="{% url 'inventory:meal-builder' %}" class="btn btn-success border text-center rounded-square shadow-lg food" role="button">Build Meal</a></h2>
    {% for meal in object_list  %}
        <div class="btn btn-dark border text-center rounded-square shadow-lg food">
        <h4><a href="{% url 'inventory:meal_details' meal.id %}" class="text-white">{{ meal.meal_name }}</a></h4>
        <a href="{% url 'inventory:delete-meal' meal.id %}" class="fas fa-trash text-danger" role="button">&nbsp;</a><a href="{% url 'inventory:edit-meal' meal.id %}" class="fas fa-pencil-alt text-warning" role="button" style="padding-left: 20px;">&nbsp;</a>

        </div>

    {% endfor %}
</div>
<br>
<h1 class="text-center">Menus</h1>
<div class="row justify-content-center" style="font-family:Raleway;">
    <h2><a href="{% url 'inventory:menu-builder' %}" class="btn btn-success border text-center rounded-square shadow-lg food" role="button">Build Menu</a></h2>
    {% for menu in menu_list  %}
        <div class="btn btn-dark border text-center rounded-square shadow-lg food">
        <h4><a href="{% url 'inventory:menu_details' menu.id %}" class="text-white">{{ menu.menu_name }}</a></h4>
        <a href="{% url 'inventory:delete-menu' menu.id %}" class="fas fa-trash text-danger" role="button">&nbsp;</a><a href="{% url 'inventory:edit-menu' menu.id %}" class="fas fa-pencil-alt text-warning" role="button" style="padding-left: 20px">&nbsp;</a>
        </div>
    {% endfor %}
</div>
<hr/>
<a href="{% url 'inventory:add-food' %}" class="btn btn-success" role="button">Add Food</a>
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Quantity</th>
      <th scope="col">Warehouse</th>
      <th scope="col">Price</th>
      <th scope="col">Edit</th>
      <th scope="col">Remove</th>
    </tr>
  </thead>
{% for item in food_list %}
<tbody>
    <tr>
      <td>{{ item.food_name }}</td>
      <td>{{ item.quantity}}</td>
      <td>{{ item.warehouse }}</td>
      <td>{{ item.price }}</td>
      <td><a href="{% url 'inventory:update-food' item.id %}" class="btn btn-warning fas fa-edit" role="button">&nbsp;</a></td>
      <td><a href="{% url 'inventory:delete-food' item.id %}" class="btn btn-danger fas fa-trash" role="button">&nbsp;</a></td>
    </tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock %}