{% extends 'inventory/base.html' %}
{% load cache %}
{% load static %}
{% cache 500 index %}
{% block body %}
    
    <div class="card-columns" style="margin: 12px;">

        <div class="card shadow homePage">
            <img class="card-img" src="{% static 'images/trips.jpg' %}" alt="Card image cap" >
            <!--<span class="fas fa-route fa-5x" style="opacity: 0.5; color: Dodgerblue;">&nbsp;</span>-->
            <div class="card-img-overlay">
                <h5 class="card-title"><a href="{% url 'inventory:view-trips' %}" class="stretched-link">Trips</a></h5>
                <div class="middle">
                    <p class="card-text text">Manage trips</p>
                </div>
            </div>
        </div>
    
        <div class="card shadow homePage" >
           <img class="card-img" src="{% static 'images/cars.jpg' %}" alt="Card image cap" >
           <!--<span class="fas fa-shuttle-van fa-5x" style="opacity: 0.5; color: Dodgerblue;">&nbsp;</span>-->
            <div class="card-img-overlay">
                <h5 class="card-title"><a href="{% url 'inventory:vans'%}" class="stretched-link">Vehicles</a></h5>
                <div class="middle">
                    <p class="card-text text">Manage company vehicles</p>
                </div>
            </div>
        </div>
    
        <div class="card shadow homePage" >
            <img class="card-img" src="{% static 'images/inventory.jpg' %}" alt="Card image cap" >
            <!-- <span class="fas fa-box-open fa-5x" style="opacity: 0.5; color: Dodgerblue;">&nbsp;</span> -->
            <div class="card-img-overlay">
                <h5 class="card-title"><a href="{% url 'inventory:supplies'%}"  class="stretched-link">Inventory</a></h5>
                <div class="middle">
                    <p class="card-text text">Manage the inventory list</p>
                </div>
            </div>
        </div>
    
        <div class="card shadow homePage">
            <img class="card-img" src="{% static 'images/kit.jpg' %}" alt="Card image cap">
            <!-- <span class="fas fa-toolbox fa-5x" style="opacity: 0.5; color: Dodgerblue;">&nbsp;</span> -->
            <div class="card-img-overlay">
                <h5 class="card-title"><a href="{% url 'inventory:vankit' %}"  class="stretched-link">Van Kits</a></h5>
                <div class="middle">
                    <p class="card-text text">Manage van kits</p>
                </div>
            </div>
        </div>
    
        <div class="card shadow homePage">
            <img class="card-img" src="{% static 'images/food.jpg' %}" alt="Card image cap" >
            <!-- <span class="fas fa-drumstick-bite fa-5x" style="opacity: 0.5; color: Dodgerblue;">&nbsp;</span> -->
            <div class="card-img-overlay">
                <h5 class="card-title"><a href="{% url 'inventory:meals' %}" class="stretched-link">Food and Meals</a></h5>
                <div class="middle">
                    <p class="card-text text">Manage food inventory</p>
                </div>
            </div>
        </div>

        <div class="card shadow homePage">
            <img class="card-img" src="{% static 'images/customers.jpg' %}" alt="Card image cap" >
            <!-- <span class="fas fa-address-book fa-5x" style="opacity: 0.5; color: Dodgerblue;">&nbsp;</span> -->
            <div class="card-img-overlay">
                <h5 class="card-title"><a href="{% url 'inventory:customers' %}" class="stretched-link">Customers</a></h5>
                <div class="middle">
                    <p class="card-text text">View customer information</p>
                </div>
            </div>
        </div>
        
        <div class="card shadow homePage">
            <img class="card-img" src="{% static 'images/report.jpg' %}" alt="Card image cap">
            <!-- <span class="fas fa-file-invoice-dollar fa-5x" style="opacity: 0.5; color: Dodgerblue;">&nbsp;</span> -->
            <div class="card-img-overlay">
                <h5 class="card-title"><a href="{% url 'inventory:reports'%}" class="stretched-link">Financial Reports</a></h5>
                <div class="middle">
                    <p class="card-text text">View pricing and other financial information</p>
                </div>
            </div>
        </div>

        <div class="card shadow homePage">
           <img class="card-img" src="{% static 'images/storage.jpg' %}" alt="Card image cap">
           <!-- <span class="fas fa-building fa-5x" style="opacity: 0.5; color: Dodgerblue;">&nbsp;</span> -->
            <div class="card-img-overlay">
                <h5 class="card-title"><a href="{% url 'inventory:other'%}" class="stretched-link">Storage & Large Equipment</a></h5>
                <div class="middle">
                    <p class="card-text text">View storage locations, kayaks and trailers</p>
                </div>
            </div>
        </div>
</div>

{% endblock body %}
{% endcache %}