{% extends 'inventory/base.html' %}
<!--{% load static %}-->
{% block title %}<title>Menu Details</title>{% endblock title %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
  });
  </script>



<a class="btn fas fa-arrow-left fa-2x" href="{% url 'inventory:meals' %}" role="button" style="color: Dodgerblue;">&nbsp;</a>
<br>
<a href="#" data-toggle="tooltip" data-placement="right" style="padding-left: 10px;" title="This is the menu details page. Here you can view details about the menu you selected to get here."><i class="fas fa-info-circle fa-2x">&nbsp;</i></a>
<hr/>


<div class="card shadow" style="width: 21.5em;margin:0 auto;" style="font-family: Roboto;">
    <ul class="list-group list-group-flush">
        <h3><li class="list-group-item">{{ menu.menu_name}}</li></h3>
        {% for meal_name in menu.meal_name.all %}
        <li class="list-group-item">{{meal_name}}</li>
        {% endfor %}
    </ul>
</div>

{% endblock body %}