{% extends 'inventory/base.html' %}
<!--{% load static %}-->
{% block title %}<title>Menu Details</title>{% endblock title %}
{% block body %}
<a class="btn fas fa-arrow-alt-circle-left fa-2x" href="{% url 'inventory:meals' %}" role="button" style="color: Dodgerblue;">&nbsp;</a>

<br>

<div class="card shadow" style="width: 21.5em;margin:0 auto;" style="font-family: Roboto;">
    <ul class="list-group list-group-flush">
        <h3><li class="list-group-item">{{ menu.menu_name}}</li></h3>
        {% for meal_name in menu.meal_name.all %}
        <li class="list-group-item">{{meal_name}}</li>
        {% endfor %}
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
</div>

{% endblock body %}