{% extends 'inventory/base.html' %}
{% block body %}
<form method="GET">
<div class="form-group" style="font-family: cursive;">
{{ filter.form.as_p }}
<button type="submit" class="btn btn-primary fa fa-search">&nbsp;</button>
</div>
</form>
<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">Category</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
{% for supply in filter.qs %}
<tbody>
    <tr>
      <td>{{ supply.supplyName }}</td>
      <td>{{ supply.category}}</td>
      <td>{{ supply.quantity }}</td>
      <td>{{ supply.price }}</td>
    </tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock body %}