{% extends 'inventory/base.html' %}
{% block title %}<title>Trip Manager</title>{% endblock title %}
{% block body %}

<div class="card-deck">
{% for customer in object_list  %}
    <div class="card shadow-lg mb-3 text-center rounded" style="min-width: 15rem;">
        <div class="card-header">{% if customer.trip_end < today %}Trip Concluded {% else %} {{ customer.payment_status }} {% endif %}</div>
        <!--<img class="card-img-top fa fa-address-card fa-5x" src="" alt="Card image">-->
        <span class="fa fa-address-card fa-5x">&nbsp;</span>
            {% if customer.trip_start > today  %}
            <h5 class="card-title">Upcoming Trip</h5>
            {% elif customer.trip_start < today and customer.trip_end > today %}
            <h5 class="card-title">Trip Ongoing</h5>
            {% else %}
            <h5 class="card-title">Trip Over</h5>
            {% endif %}
        <h3 class="card-title"><a href="{% url 'inventory:details' customer.id %}" class="stretched-link">{{ customer.first_name }} {{ customer.last_name }}</a></h3>
        <div class="card-body"><p class="card-text">{{ customer.comments }}</p></div> 
        <div class="card-footer text-muted">
            <p class="card-text">{{ customer.trip_start }} - {{ customer.trip_end }}</p>
        </div>
    </div>
{% endfor %}
</div>
{% endblock body %}