{% extends 'inventory/base.html' %}
<!--{% load static %}-->
{% block title %}<title>Trip Details</title>{% endblock title %}
{% block body %}
<a class="btn fas fa-arrow-alt-circle-left fa-2x" href="{% url 'inventory:view-trips' %}" role="button" style="color: Dodgerblue;">&nbsp;</a>
<br>
<div class="card shadow-lg mb-3 text-center rounded">
        <div class="card-header"> <a href="{% url 'inventory:update-trip' trips.id %}"><strong>Update Trip</strong></a></div>
        <span class="fas fa-id-card fa-5x">&nbsp;</span>
            {% if trips.trip_start > today  %}
            <h5 class="card-title text-warning">Upcoming Trip</h5>
            {% elif trips.trip_start < today and trips.trip_end > today %}
            <h5 class="card-title text-success">Trip Ongoing</h5>
            {% elif trips.trip_start is None %}
            <h5 class="card-title text-success">Prospective Client</h5>
            {% else %}
            <h5 class="card-title text-danger">Trip Ended</h5>
            {% endif %}
        <h3 class="card-title" style="color: Dodgerblue;">{{ trips.first_name }} {{ trips.last_name }}</h3>
        <div class="card-footer text-muted">
            <p class="card-text"><strong>{{ trips.trip_start }} - {{ trips.trip_end }}</strong></p>
        </div>
</div>

<div class="card shadow-lg mb-3 text-center rounded">
  <div id="wrapper1">
      <div id="left1">
        <h4>Van Used</h4>
        <ul>
        
          <li>{{ trips.van_used }}</li>
       
        </ul>
      </div>
      <div id="center1" >
        <h4>Kayak Used</h4>
        <ul>
        {% for kayak in trips.kayak_used.all  %}
          <li>{{ kayak }}</li>
        {% endfor %}
        </ul>
      </div>
      <div id="right1">
        <h4>Menu</h4>
        <ul>
          <li>{{ trips.menu }}</li>
        </ul>
      </div>
  </div>
</div>

<div class="card shadow-lg mb-3 text-center rounded">
    <div id="wrapper1">
      <div id="left">
        <h4>Extra Food Purchased</h4>
        <ul>
        {% for food in trips.extra_food_purchased.all  %}
          <li>{{ food }}</li>
        {% endfor %}
        </ul>
      </div>
      <div id="center" >
        <h4>Extra Meals Purchased</h4>
        <ul>
        {% for food in trips.extra_meals_purchased.all  %}
          <li>{{ food }}</li>
        {% endfor %}
        </ul>
      </div>
      <div id="right">
        <h4>Extra Supplies Purchased</h4>
        <ul>
        {% for supplies in trips.extra_supplies.all  %}
          <li>{{ supplies }}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  
<div class="card shadow-lg mb-3 text-center rounded">
  <h3 class="card-title">Comments About Trip</h3>
  <p class="card-text">{{ trips.comments }}</p>
</div>


{% endblock body %}

