{% extends 'inventory/base.html' %}
{% block title %} <title>Van Kits</title> {% endblock title %}
{% load static %}
{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script>
  $(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
  });
  </script>
<a class="btn fas fa-arrow-left fa-2x" href="{% url 'inventory:index' %}" role="button" style="color: Dodgerblue;">&nbsp;</a>
<h1 class='text-center'>Van Kit Page</h1>

<hr/>
<a href="{% url 'inventory:add-vankit' %}" class="btn btn-success" role="button" style="font-family: Raleway">Add Van Kit</a><a href="#" data-toggle="tooltip" data-placement="right" style="padding-left: 5px;" title="Here you can add, edit, and delete van kits and view items included in van kits. Below the van kit table, you can also view the items that should be included in a van kit. Users with the appropriate privilege levels can also edit the items in the van kit template."><i class="fas fa-info-circle fa-2x">&nbsp;</i></a>
<div class="table-responsive" style="font-family: Raleway;">
    <table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">Van Kit</th>
        <th scope="col">Van Name</th>
        <th scope="col">Available</th>
        <th scope="col">Comments</th>
        <th scope="col">Edit</th>
        {% if user.is_superuser %}
        <th scope="col">Delete</th>
        {% endif %}
        </tr>
    </thead>
    {% for van_kit in object_list %}
    <tbody>
        <tr>
        <td>{{ van_kit.van_kit_name }}</td>
        <td>{{ van_kit.vanName }}</td>
        <td>{{ van_kit.Available }}</td>
        <td>{{ van_kit.comments }}</td>
        <td><a href="{% url 'inventory:edit-vankits' van_kit.id %}" class="btn btn-warning fas fa-edit" role="button">&nbsp;</a></td>
        {% if user.is_superuser %}
        <td><a href="{% url 'inventory:delete-vankits' van_kit.id %}" class="btn btn-danger fas fa-trash" role="button">&nbsp;</a></td>
        {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
<br><hr/>
<h3 class="text-center justify-content-center" style="font-family: Raleway;">The following table represents the items that should be included in each van kit.</h3><br>
<div class="table-responsive" style="font-family: Raleway;">
    <a href="{% url 'inventory:add-vkml' %}" class="btn btn-success" role="button" style="font-family: Raleway;">Add item to Van Kit Masterlist</a>
    <table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">Item Name</th>
        <th scope="col">Quantity</th>
        <th scope="col">Edit</th>
        {% if user.is_superuser %}
        <th scope="col">Delete</th>
        {% endif %}
        </tr>
    </thead>
    {% for item in master_list %}
    <tbody>
        <tr>
            <td>{{ item.supplyName }}</td>
            <td>{{ item.supplyQuantity }}</td>
            <td><a href="{% url 'inventory:edit-vkml' item.id %}" class="btn btn-warning fas fa-edit" role="button">&nbsp;</a></td>
            {% if user.is_superuser %}
            <td><a href="{% url 'inventory:delete-vkml' item.id %}" class="btn btn-danger fas fa-trash" role="button">&nbsp;</a></td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endblock body %}