{% extends 'inventory/base.html' %}
{% block title %} <title>Van Kits</title> {% endblock title %}
{% block body %}
<a href="{% url 'inventory:add-vankit' %}" class="btn btn-success" role="button">Add Van Kit</a>
<div class="table-responsive">
    <table class="table table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
        <th scope="col">Van Kit</th>
        <th scope="col">Van Name</th>
        <th scope="col">Available</th>
        <th scope="col">Comments</th>
        <th scope="col">Edit Van Kit</th>
        <th scope="col">Delete Van Kit</th>
        </tr>
    </thead>
    {% for van_kit in object_list %}
    <tbody>
        <tr>
        <td>{{ van_kit.van_kit_name }}</td>
        <td>{{ van_kit.vanName }}</td>
        <td>{{ van_kit.Available }}</td>
        <td>{{ van_kit.comments }}</td>
        <td><a href="{% url 'inventory:edit-vankits' van_kit.id %}" class="btn btn-warning fas fa-edit" role="button">&nbsp;</a></td>
        <td><a href="{% url 'inventory:delete-vankits' van_kit.id %}" class="btn btn-danger fas fa-trash" role="button">&nbsp;</a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

<a href="{% url 'inventory:add-vkml' %}" class="btn btn-success" role="button">Add item to Van Kit Masterlist</a>


    <table class="table table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
        <th scope="col">Item Quantity</th>
        <th scope="col">Item Name</th>
        <th scope="col">Edit Item</th>
        <th scope="col">Delete Item</th>
        </tr>
    </thead>
    {% for VanKitMasterlist in object_list %}
    <tbody>
        <tr>
        <td>{{ VanKitMasterlist.supplyName }}</td>
        <td>{{ VanKitMasterlist.supplyQuantity }}</td>
        <td><a href="{% url 'inventory:edit-vkml' VanKitMasterlist.id %}" class="btn btn-warning fas fa-edit" role="button">&nbsp;</a></td>
        <td><a href="{% url 'inventory:delete-vkml' VanKitMasterlist.id %}" class="btn btn-danger fas fa-trash" role="button">&nbsp;</a></td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

</div>
{% endblock body %}