{% extends 'inventory/base.html' %}
{% block title %} <title>Vans</title> {% endblock title %}
{% block body %}
<div class="table-responsive">
    <table class="table table-hover table-bordered">
    <thead style="background-color: Dodgerblue;">
        <tr style="color: white;">
        <th scope="col">Van</th>
        <th scope="col">Available</th>
        <th scope="col">Condition</th>
        <th scope="col">Mileage</th>
        <th scope="col">Trailer</th>
        </tr>
    </thead>
    {% for van in object_list %}
    <tbody>
        <tr>
        <td>{{ van.vanName }}</td>
        <td>{{ van.available }}</td>
        <td>{{ van.condition }}</td>
        <td>{{ van.mileage }}</td>
        <td>{{ van.trailer }}
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endblock body %}