{% extends 'inventory/base.html' %}
{% block title %} <title>Vans</title> {% endblock title %}
{% block body %}
<a href="{% url 'inventory:add-van' %}" class="btn btn-success" role="button">Add Vehicle</a>
<div class="table-responsive">
    <table class="table table-hover table-bordered">
    <thead>
        <tr>
        <th scope="col">Van</th>
        <th scope="col">Available</th>
        <th scope="col">Condition</th>
        <th scope="col">Mileage</th>
        <th scope="col">Trailer</th>
        <th scope="col">Comments</th>
        <th scope="col">Edit</th>
        {% if user.is_superuser %}
        <th scope="col">Remove</th>
        {% endif %}
        </tr>
    </thead>
    {% for van in object_list %}
    <tbody>
        <tr>
        <td>{{ van.vanName }}</td>
        <td>{{ van.available }}</td>
        <td>{{ van.condition }}</td>
        <td>{{ van.mileage }}</td>
        <td>{{ van.trailer }}</td>
        <td>{{ van.comments }}</td>
        <td><a href="{% url 'inventory:edit-van' van.id %}" class="btn btn-warning fas fa-edit" role="button">&nbsp;</a></td>
        {% if user.is_superuser %}
        <td><a href="{% url 'inventory:delete-van' van.id %}" class="btn btn-danger fas fa-trash" role="button">&nbsp;</a></td>
        {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endblock body %}