{% extends 'inventory/base.html' %}
{% block title %}<title>Itinerary</title> {% endblock %}

{% block body %}

<a class="btn fas fa-arrow-alt-circle-left fa-2x" href="{% url 'inventory:index' %}" role="button" style="color: Dodgerblue;">&nbsp;Back To Home</a>
<br>
<br>   

    <h2>Itinerary List: </h2>
    <div>
        {% for tripItinerary in object_list %}
            <li>
                {{ tripItinerary.it_title }}
                <a href="#">edit</a>
            </li>
        {% empty %}
            <li>No Itineraries yet</li>
        {% endfor %}
    </div>
    <div>
        <a href="{% url 'inventory:createitinerary' %}" class="btn btn-dark" role="button">Create New Itinerary</a>

        <p>
        </p>
    </div>


    <ul>
        {% for tripItinerary in object_list %}
            <li>{{ tripItinerary.name }} | 
                <a href="#">edit</a>
                <a href="{% url 'inventory:createitinerary' %}">create</a>
            </li>
        {% empty %}
            <li>No Itineraries yet.</li>
        {% endfor %}

    </ul>
{% endblock %}